{% extends "body.html" %} {% block title %}Home{% endblock %} {% block content %}
<div style="padding: 50;
    margin: 0;
    flex: 1;
    height: 90%;
    -webkit-flex-direction: column; 
    flex-direction: column; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aff1e4">
    <img src="https://media.giphy.com/media/UoeaPqYrimha6rdTFV/giphy.gif" style="width: 80vh;
    padding: 10" />
    <h1>Don't worry, this isn't what you were looking for, is it?</h1>
</div>
{% endblock %}